/*
*    ASCII art by:
*    x@xero.style    _            ____
*    https://x-e.ro : \           |   \    .
*                   |  \ .        |    :   |\            /\
*                .  |   :|\__     |    |   | \          /  \
*   .            |\ |   |! \ \    |    |   | |\        /   /
*   \"-.______   | \:   ||\ \ \   |    |   | | \      /   /
*    \_       "-_|  |\  || \ \/   |    |___| ! |\____/  _/-. /\
*      "-_   ____:  |_\ ||  \/  ___\  __  _//  | |  ___ \---" /
*         \  \   |  _____,  /___\___\/ / /   \_! |  // _/  / /
*       ___\_ \__|  |    | __. _/____ / /     /  > // /    \/
*     //_________|  /    |/  |/  \__// /     /  /_/ \/
*                | /     |   :      | /     /__/
*                |/                 |/   E V A N G E L I O N
*  
*   Based on the evangelion.nvim colorschme by xero
*/


@define-color selected-text #d99145;
@define-color text #ccd2d9;
@define-color base #1e142e;
@define-color border #ab92fc;
@define-color foreground #ccd2d9;
@define-color background #1e142e;

/*
*      ____  __    __                    
*     / __ \/ /___/ /                    
*    / / / / / __  /                     
*   / /_/ / / /_/ /                      
*   \____/_/\__,_/ __          __        
*         / /___  / /_  ____  / /_  ____ 
*    __  / / __ \/ __ \/ __ \/ __ \/ __ \
*   / /_/ / /_/ / /_/ / /_/ / /_/ / /_/ /
*   \____/\____/_.___/\____/_.___/\____/ 
*                                        
* 2-3-26
*/
