/*
*    ASCII art by:
*    x@xero.style    _            ____
*    https://x-e.ro : \           |   \    .
*                   |  \ .        |    :   |\            /\
*                .  |   :|\__     |    |   | \          /  \
*   .            |\ |   |! \ \    |    |   | |\        /   /
*   \"-.______   | \:   ||\ \ \   |    |   | | \      /   /
*    \_       "-_|  |\  || \ \/   |    |___| ! |\____/  _/-. /\
*      "-_   ____:  |_\ ||  \/  ___\  __  _//  | |  ___ \---" /
*         \  \   |  _____,  /___\___\/ / /   \_! |  // _/  / /
*       ___\_ \__|  |    | __. _/____ / /     /  > // /    \/
*     //_________|  /    |/  |/  \__// /     /  /_/ \/
*                | /     |   :      | /     /__/
*                |/                 |/   E V A N G E L I O N
*  
*   Based on the evangelion.nvim colorschme by xero
*/

@define-color background #1e142e;
@define-color foreground #ab92fc;
